﻿/*---------------------------------

Deeper Forum Plugin Frontend
------------------------------------------------------------------------*/
/*@import url('//fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,700i');*/

/* base */
.dpr-wrap {
	font-size: 16px;
	font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans-serif';
	line-height: 25px;
}
.dpr-wrap, .dpr-wrap * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}
.dpr-wrap a { 
	color: #437df9; 
	text-decoration: none; 
	outline: 0;
}
.dpr-wrap *:focus, .dpr-wrap *:active { 
	outline:none;
}
.dpr-wrap ul, .dpr-wrap ol, .dpr-wrap li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.dpr-wrap div img {
	max-width: 100%;
}
.dpr-wrap .clearfix:before, .dpr-wrap .clearfix:after {
	content: '';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.dpr-wrap .clearfix:after {
	clear: both;
}
.dpr-wrap .clearfix {
	zoom: 1;
}
.dpr-wrap input[type=text], .dpr-wrap input[type=password], .dpr-wrap input[type=email], .dpr-wrap input[type=number], .dpr-wrap input[type=url], .dpr-wrap textarea, .dpr-modal-cntt input[type=text], .dpr-modal-cntt input[type=password], .dpr-modal-cntt input[type=email], .dpr-modal-cntt input[type=number], .dpr-modal-cntt input[type=url], .dpr-modal-cntt textarea {
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	min-height: 36px;
	padding: 4px 8px;
	color: #717171;
	box-shadow: 1px 2px 6px rgba(0,0,0,0.035) inset;
	transition: all .19s ease;
}
.dpr-wrap input[type=text]:focus, .dpr-wrap input[type=password]:focus, .dpr-wrap input[type=email]:focus, .dpr-wrap input[type=number], .dpr-wrap input[type=url] {
	border-color: #c0c0c0;
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.095);
}
.dpr-wrap input[type=submit], .dpr_cancle_comment, .dpr_edit_comment, .dpr_add_reply_comment, .dpr_cancle_reply_comment {
	font-family: 'Roboto', Helvetica, Arial, Sans-serif;
	cursor: pointer;
	color: #437df9;
	background: #fafafa;
	padding: 4px 18px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	transition: all .22s ease;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.039), 2px 2px 1px 0px rgba(255,255,255,0.8) inset;
}
.dpr-wrap input[type=submit]:hover, .dpr_cancle_comment:hover, .dpr_edit_comment:hover, .dpr_add_reply_comment:hover, .dpr_cancle_reply_comment:hover {
	background: #fff;
	box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.069), 2px 2px 1px 0px rgba(255,255,255,0.8) inset;
}
.dpr-discu-container {
	max-width: 820px;
	position: relative;
}
.dpr-wrap label {
	font-size: 13px;
}
/* discussions */
.dpr-discu-wrap, .dpr-join-form-wrap {
	margin-bottom: 20px;
}
.dpr-container > .dpr-discu-wrap:last-of-type {
	margin-bottom: 80px;
}
.dpr-discu-wrap:after, .dpr-join-form-wrap:after {
	content: '';
	clear: both;
	display: block;
	height: 0px;
}
/* form */
.dpr-join-form-area {
	min-height: 50px;
	clear: both;
}
.dpr-join-form-inner {
	position: relative;
	clear: both;
	min-height: 38px;
}
.dpr-join-form-login-register {
	padding: 12px 0 0;
}
.dpr-join-form-login-register a, .dpr-user-nas a {
	display: inline-block;
	margin-right: 12px;
	font-size: 0.84em;
	line-height: 1;
	position: relative;
	color: #444;
	vertical-align: middle;
	background: #f1f1f1;
	padding: 6px 12px 6px 10px;
	border-radius: 33px;
	transition: all .19s ease;
}
.dpr-join-form-login-register a:hover, .dpr-join-form-login-register a.dpr-form-active, .dpr-user-nas a:hover {
	color: #437df9;
	background: #fff;
	box-shadow: 0 1px 17px 0px rgba(0,0,0,0.15);
}
.dpr-join-form-login-register a i, .dpr-user-nas a i {
	font-size: 12px;
	margin-right: 1px;
	vertical-align: middle;
}
.dpr-user-nas a:last-child {
	margin-right: 0;
}
.dpr-join-form-login-wrap, .dpr-join-form-register-wrap {
	padding-top: 12px;
}
.dpr-msgbox {
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	padding: 20px 20px 10px;
	position: relative;
	box-shadow: 0 1px 7px 0 rgba(0,0,0,0.036);
}
.dpr-join-form-login-inner.dpr-msgbox:after, .dpr-join-form-login-inner.dpr-msgbox:before {
	left: 28px;
}
.dpr-join-form-register-inner.dpr-msgbox:after, .dpr-join-form-register-inner.dpr-msgbox:before {
	left: 116px;
}
.dpr-join-form-login-inner input, .dpr-join-form-register-inner input {
	margin-right: 10px;
	margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
.dpr-join-form-login-inner input:not([type="submit"]) {
	width: calc(50% - 51px);
}
.dpr-join-form-login-inner input[type="submit"] {
	margin-right: 2px;
}
.dpr-join-form-register-inner input:not([type="submit"]) {
	width: calc(33.3% - 10px);
}
.dpr-join-form-register-inner input[type="submit"] {
	margin-right: 2px;
}
}
.dpr-join-form-inner .dpr-join-form-social-login, .dpr-user-nas {
	position: absolute;
	right: 1px;
	top: 2px;
}
.dpr-join-form-social-login, .dpr-user-nas {
	padding: 10px 0;
}
.dpr-join-form-social-login span, .dpr-join-form-welcome {
	font-size: 0.81em;
	color: #b1b1b1;
	margin-right: 5px;
}
.dpr-join-form-social-login a {
	margin-right: 3px;
}
.dpr-join-form-social-login a i {
	padding: 8px;
	font-size: 18px;
	color: #777;
	background: #f1f1f1;
	border-radius: 50px;
	transition: all .19s ease;
}
.dpr-join-form-social-login a:hover i {
	background: #fff;
	box-shadow: 0 1px 14px 0px rgba(0,0,0,0.16);
}
.dpr-join-form-social-login a.dpr-join-form-login-facebook i {
	color: #3b5998;
}
.dpr-join-form-social-login a.dpr-join-form-login-twitter i {
	color: #55acee;
}
.dpr-join-form-social-login a.dpr-join-form-login-google i {
	color: #dd4b39;
}
.dpr-join-form-area i {
	width: 50px;
	height: 50px;
	display: inline-block;
	float: left;
	margin-right: 12px;
	background: #f1f1f1;
	border-radius: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 22px;
	color: #a9a9a9;
}
.dpr-join-form-area textarea {
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	height: 40px;
	padding: 10px 14px;
	color: #717171;
	background: #fff;
	width: calc(100% - 62px) !important;
	float: left;
	box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.019) inset;
	margin-top: 5px;
}
.dpr-join-form-area .dpr-discu-user {
	padding-top: 0;
}
/* tab */
.dpr-switch-tab-wrap {
	height: 49px;
	margin-bottom: 25px;
	position: relative;
	padding: 10px 20px 0;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	margin-bottom: 25px;
	background: #fafafa;
	font-size: 13px;
	box-shadow: 0 -1px 4px 0px rgba(0,0,0,0.021);
}
.dpr-switch-tab-wrap ul.dpr-switch-tab, .dpr-switch-tab-wrap ul.dpr-switch-tab li {
	padding: 0;
	margin: 0;
	list-style: none;
}
.dpr-switch-tab-wrap ul.dpr-switch-tab li {
	display: inline-block;
}
.dpr-switch-tab a {
	display: inline-block;
	padding: 11px 10px 12px;
	margin-bottom: -1px;
	color: #717171;
	font-weight: 400;
	font-size: 1.03em;
	line-height: 1;
}
.dpr-switch-tab a:hover {
	color: #437df9;
}
.dpr-switch-tab a.dpr-active-tab {
	background: #fff;
	color: #437df9;
	border: 1px solid #e7e7e7;
	border-bottom-color: #fff;
	border-radius: 3px 3px 0 0;
}
.dpr-switch-search-wrap, .dpr-topic-view-wrap {
	position: absolute;
	right: 9px;
	top: 9px;
	width: 200px;
	height: 36px;
}
.dpr-switch-search-wrap input[type="text"], .dpr-widget-search-wrap input[type="text"] {
	width: 100%;
	border-radius: 55px;
	min-height: 30px;
	height: 30px;
	font-size: 0.92em;
	padding-left: 26px;
}
.dpr-switch-search-wrap i, .dpr-widget-search-wrap i {
	position: absolute;
	left: 9px;
	top: 9px;
	font-size: 14px;
	color: #c9c9c9;
}
.dpr-switch-search-wrap input[type="text"]::-webkit-input-placeholder {
color: #ddd;
}
.dpr-switch-tab-wrap select.dpr-switch-dropdown {
	display: none;
	border: 1px solid #e7e7e7;
	padding: 4px 10px;
	border-radius: 1px;
}
/* discussion */
.dpr-discu-user {
	width: 62px;
	float: left;
	min-height: 50px;
	padding-top: 5px;
}
.dpr-discu-user-img img {
	border-radius: 50px;
	width: 50px;
	height: 50px;
	margin-right: 12px;
}
.dpr-discu-box {
	position: relative;
	float: left;
	background: #fff;
	font-size: 16px;
	width: calc(100% - 62px);
	padding: 10px 20px 20px;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	box-shadow: 0 1px 3px 0px rgba(0,0,0,0.032);
	-webkit-transition: box-shadow .38s ease;
	transition: box-shadow .38s ease;
}
.dpr-discu-box:hover {
	box-shadow: 0 1px 10px 0px rgba(0,0,0,0.057);
}
.dpr-discu-box:after, .dpr-discu-box:before {
	content: '';
	display: block;
	position: absolute;
	top: 16px;
	left: -7px;
	margin-left: -7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px;
}
.dpr-discu-box:before {
	border-color: transparent #dedede transparent transparent;
}
.dpr-discu-box:after {
	left: -6px;
	border-color: transparent #ffffff transparent transparent;
}
.dpr-discu-box-header {
	margin-bottom: 7px;
	position: relative;
}
.dpr-discu-box-header .dpr-discu-box-header-icons {
	position: absolute;
	right: 0;
	top: -3px;
	opacity: 0;
	-webkit-transition: all .36s ease;
	transition: all .36s ease;
}
.dpr-discu-box:hover > .dpr-discu-box-header .dpr-discu-box-header-icons {
	opacity: 1;
}
.dpr-discu-box-header .dpr-discu-box-header-icons a {
	display: inline-block;
	text-align: center;
	width: 18px;
}
.dpr-discu-box-header .dpr-discu-box-header-icons span {
	padding: 0 2px;
	color: #e9e9e9;
	font-size: 12px;
}
.dpr-discu-box i, .dpr-topic-box i {
	font-size: 12px;
	color: #8a8a8a;
}
.dpr-discu-box a:hover i, .dpr-topic-box a:hover i {
	color: #437df9;
}
.dpr-discu-box img {
	max-height: 820px;
	max-width: 100%;
}
.dpr-discu-user-name, .dpr-discu-inreplyto a {
	font-size: 0.87em;
	font-weight: 500;
	line-height: 22px;
	color: #437df9;
}
.dpr-discu-user-name a, .dpr-discu-inreplyto a {
	color: #437df9;
}
.dpr-discu-user-name a:hover, .dpr-discu-inreplyto a:hover {
	text-decoration: underline;
}
.dpr-discu-inreplyto a {
	font-size: 12px;
}
.dpr-discu-inreplyto {
	background: #fcfcfc;
	padding: 3px 9px;
	margin: 0 0 15px;
	border: 1px solid #eee;
	border-radius: 2px;
	line-height: 26px;
}
.dpr-discu-inreplyto i {
	color: #888;
	font-size: 13px;
	margin: 0 5px;
}
.dpr-discu-inreplyto .dpr-discu-replyto-text {
	font-size: 0.8em;;
	color: #7a7a7a;
	padding: 0 3px;
}
.dpr-discu-inreplyto .dpr-discu-replyto-text:before, .dpr-discu-inreplyto .dpr-discu-replyto-text:after {
	font-size: 15px;
	font-weight: 700;
}
.dpr-discu-inreplyto .dpr-discu-replyto-text:before {
	content: open-quote;
}
.dpr-discu-inreplyto .dpr-discu-replyto-text:after {
	content: close-quote;
}
.dpr-discu-date {
	font-size: 0.68em;
	color: #b9b9b9;
	font-weight: 400;
	padding-left: 6px;
	position: relative;
}
.dpr-discu-date:before {
	content: '';
	width: 7px;
	height: 7px;
	border-radius: 7px;
	background: #f0f0f0;
	display: inline-block;
	margin-right: 5px;
}
.dpr-discu-date a {
	color: #b0b0b0;
}
.dpr-discu-date a:hover {
	color: #666;
	text-decoration: underline;
}
.dpr-discu-replies-wrap .dpr-discu-wrap .dpr-discu-replies-wrap .dpr-discu-wrap .dpr-discu-replies-wrap .dpr-discu-wrap .dpr-discu-date {
	display: block;
	padding-left: 0;
}
.dpr-discu-text {
	padding-bottom: 5px;
	overflow: hidden;
	max-height: 720px;
}
.dpr-discu-text p {
	font-size: 0.9em;
	font-weight: 400;
	color: #414141;
	line-height: 1.68;
	padding: 0;
	margin: 0;
	margin-bottom: 2px;
}
.dpr-discu-box-footer {
	margin: 10px -20px -20px;
	padding: 5px 20px;
	background: #f6f6f6;
}
.dpr-discu-metadata {
	position: relative;
	background: #fff;
	border-top: 1px solid #f0f0f0;
	min-height: 30px;
	margin: -5px -20px 7px;
	padding: 4px 20px;
	box-shadow: 0 2px 1px 0px rgba(0,0,0,0.023);
}
.dpr-discu-like-count, .dpr-discu-dislike-count, .dpr-discu-share-count, .dpr-topic-views-count, .dpr-discu-replies-count, .dpr-topic-last-reply-time {
	padding: 2px 5px;
	background: #f7f7f7;
	color: #888;
	font-size: 11px;
	border-radius: 5px;
	margin: 0 6px 0 0;
}
.dpr-discu-like:hover span, a.dpr-discu-like:hover i {
	color: #76d248;
}
.dpr-discu-dislike:hover span, a.dpr-discu-dislike:hover i {
	color: #fb675e;
}
.dpr-discu-metadata-share-wrap {
	position: absolute;
	right: 10px;
	top: 4px;
}
.dpr-discu-reply-btn-wrap a.dpr-discu-reply-btn {
	font-size: 0.84em;
	color: #5a5a5a;
	position: relative;
}
.dpr-discu-reply-btn-wrap a.dpr-discu-reply-btn i {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: inline-block;
	margin-right: 2px;
    vertical-align: baseline;
}
.dpr-discu-reply-btn-wrap a.dpr-discu-reply-btn:hover {
	color: #437df9;
}
.dpr-discu-replies-wrap .dpr-discu-wrap .dpr-discu-replies-wrap .dpr-discu-wrap .dpr-discu-replies-wrap .dpr-discu-wrap a.dpr-discu-reply-btn {
	display: none;
}
.dpr-discu-replies-wrap .dpr-discu-wrap {
	margin-top: 12px;
}
.dpr-discu-metadata-share-wrap .dpr-discu-share {
	position: relative;
}
.dpr-discu-metadata-share-wrap .dpr-discu-sharing {
	position: absolute;
	padding: 3px 0 5px;
	left: -4px;
	bottom: 28px;
	margin: 0;
	margin-top: 6px;
	border-radius: 4px;
	width: 44px;
	visibility: hidden;
	opacity: 0;
	border: 1px solid #e7e7e7;
	background: #fff;
	box-shadow: 0 0 9px 0 rgba(0,0,0,0.044);
	z-index: 99;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}
.dpr-discu-metadata-share-wrap .dpr-discu-sharing:after, .dpr-discu-metadata-share-wrap .dpr-discu-sharing:before, .dpr-msgbox:after, .dpr-msgbox:before {
	content: '';
	display: block;
	position: absolute;
	bottom: -7px;
	left: 50%;
	margin-left: -7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px;
}
.dpr-discu-metadata-share-wrap .dpr-discu-sharing:before, .dpr-msgbox:before {
	bottom: -14px;
	border-color: #dedede transparent transparent transparent;
}
.dpr-discu-metadata-share-wrap .dpr-discu-sharing:after, .dpr-msgbox:after {
	bottom: -13px;
	border-color: #ffffff transparent transparent transparent;
}
.dpr-discu-metadata-share-wrap:hover .dpr-discu-sharing {
	opacity: 1;
	visibility: visible;
}
.dpr-discu-metadata-share-wrap li {
	text-align: center;
	border: 0;
	display: block;
	margin-right: 2px;
	margin: 0 auto;
	width: 38px;
}
.dpr-discu-metadata-share-wrap:hover > li {
	cursor: pointer;
	background-color: #437df9;
}
.dpr-discu-metadata-share-wrap:hover > li a {
	color: #fff;
}
.dpr-discu-metadata-share-wrap > li {
	border: 1px solid #d9d9d9;
}
.dpr-discu-metadata-share-wrap li a {
	border: none;
	color: #767676;
}
.dpr-discu-metadata-share-wrap li i {
	width: 36px;
	height: 36px;
	display: table-cell;
	vertical-align: middle;
	font-size: 15px;
}
.dpr-discu-metadata-share-wrap .dpr-discu-sharing li a {
	display: block;
}
.dpr-discu-metadata-share-wrap .dpr-discu-sharing li:hover a {
	color: #437df9;
}
/* tooltip */
.dpr-tooltip {
	position: relative;
}
.dpr-tooltip[data-wntooltip]:before, .dpr-tooltip[data-wntooltip]:after {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.18s ease;
	transition: all 0.18s ease;
}
.dpr-tooltip[data-wntooltip]:before {
	position: absolute;
	top: -27px;
	left: 1px;
	padding: 6px;
	background-color: #414141;
	border-radius: 3px;
	color: #fff;
	content: attr(data-wntooltip);
	text-align: center;
	font-size: 11px;
	font-weight: 400;
	line-height: 1;
	white-space: nowrap;
	letter-spacing: 0.4px;
	z-index: 2;
	box-shadow: 0 1px 18px rgba(0,0,0,0.23);
}
.dpr-tooltip[data-wntooltip]:after {
	content: '';
	position: absolute;
	top: -5px;
	left: 9px;
	width: 0;
	border-width: 5px;
	border-style: solid;
	border-color: #414141 transparent transparent transparent;
}
.dpr-tooltip[data-wntooltip]:hover:before, .dpr-tooltip[data-wntooltip]:hover:after {
	opacity: 1;
	visibility: visible;
}
.dpr-discu-sharing .dpr-tooltip[data-wntooltip]:before {
	top: 6px;
	left: auto;
	right: 35px;
}
.dpr-discu-sharing .dpr-tooltip[data-wntooltip]:after {
	top: 12px;
	left: auto;
	right: 27px;
	border-color: transparent transparent transparent #414141;
}
.dpr-discu-link.dpr-tooltip[data-wntooltip]:before, .dpr-discu-flag.dpr-tooltip[data-wntooltip]:before, .dpr-discu-collapse.dpr-tooltip[data-wntooltip]:before {
	left: auto;
	right: 1px;
}
.dpr-discu-link.dpr-tooltip[data-wntooltip]:after, .dpr-discu-flag.dpr-tooltip[data-wntooltip]:after, .dpr-discu-collapse.dpr-tooltip[data-wntooltip]:after {
	left: auto;
	right: 9px;
}
/* timeline */
.dpr-discu-timeline-wrap {
	position: fixed;
	bottom: 0;
	width: 120px;
	border: none;
	font-family: 'Roboto', Helvetica, Arial, Sans-serif;
	z-index: 98;
}
.dpr-discu-timeline-toggle {
	background: #fff;
	position: absolute;
	bottom: 0;
	padding-top: 5px;
	height: 64px;
	width: 82px;
	text-align: center;
	border-radius: 4px 4px 0 0;
	border: 1px solid #e2e2e2;
	box-shadow: 0 -3px 9px 0px rgba(0,0,0,0.12);
	transition: height .33s ease;
}
.dpr-discu-timeline-toggle i {
	margin: 0;
	font-size: 15px;
	line-height: 15px;
	color: #6a6a6a;
	width: 100%;
	display: inline-block;
	cursor: pointer;
}
.dpr-discu-timeline-toggle i:hover {
	color: #437df9;
}
.dpr-discu-timeline-box {
	width: auto;
	padding: 2px;
	border: 1px solid #ddd;
	border-radius: 2px;
	margin: 0 7px;
	line-height: 18px;
	cursor: default;
	font-size: 11px;
	color: #666;
	box-shadow: 0 0 7px rgba(0,0,0,0.11) inset;
}
.dpr-discu-timeline-toggle .dpr-discu-timeline-inner {
	opacity: 0;
	visibility: hidden;
	height: 270px;
	width: 20px;
    left: 50%;
    margin-left: -10px;
    cursor: pointer;
	position: absolute;
	bottom: 10px;
	transition: all .2s ease;
}
.dpr-discu-timeline-toggle .dpr-discu-timeline-inner * {
	opacity: 0;
	transition: opacity .25s ease;
}

@media only screen and (min-width: 768px) {
.dpr-discu-timeline-toggle.dpr-t-active {
	height: 340px
}
.dpr-discu-timeline-toggle.dpr-t-active .dpr-discu-timeline-inner, .dpr-discu-timeline-toggle.dpr-t-active .dpr-discu-timeline-inner * {
	opacity: 1;
	visibility: visible;
}
}
.dpr-discu-timeline-line {
	position: absolute;
	bottom: 2px;
	top: 12px;
	left: 50%;
	margin-left: -1px;
	border-right: 1px solid #e6e6e6;
}
.dpr-discu-timeline-toggle .dpr-discu-timeline-inner:hover .dpr-discu-timeline-line {
	border-color: #d6d6d6;
}
.dpr-discu-timeline-line:after, .dpr-discu-timeline-line:before {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background: #d0d0d0;
	left: -2px;
	top: -4px;
}
.dpr-discu-timeline-line:after {
	top: auto;
	bottom: -4px;
}
.dpr-discu-timeline-point {
	position: absolute;
	width: 13px;
	height: 13px;
	background: #fff;
	border: 4px solid #437df9;
	border-radius: 13px;
	left: 50%;
	margin-left: -7px;
	margin-top: 4px;
	top: 0;
	cursor: n-resize;
	box-shadow: 0 0 0 0 #437df9;
	transition: box-shadow 0.3s ease-in-out;
}
.dpr-discu-timeline-point:hover {
	box-shadow: 0 0 7px 0 #437df9;
}
.dpr-discu-timeline-toggle .dpr-tooltip[data-wntooltip]:before {
	margin-left:-4px;
}
.dpr-discu-timeline-toggle .dpr-tooltip[data-wntooltip]:after {
	left:50%;
	margin-left:-5px;
}
/* modal */
.dpr-modal-wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.77);
	z-index: 999;
	vertical-align: middle;
}
.dpr-modal-wrap-inner {
	width: 430px;
	margin: auto;
	vertical-align: middle;
	position: relative;
	top: 26%;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0 0 28px rgba(0,0,0,0.3);
}
.dpr-modal-wrap-inner.dpr-signup-modal {
	top: 13%;
}
.dpr-modal-header {
	text-transform: uppercase;
	text-align: center;
	background: #437df9;
	padding: 20px 0;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 1px;
}
.dpr-modal-cntt {
	padding: 40px 20px 20px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.032) inset;
}
.dpr-modal-cntt input[type=submit], .dpr-modal-cntt input[type=text], .dpr-modal-cntt input[type=password], .dpr-modal-cntt input[type=email] {
	width: 100%;
	margin-bottom: 20px;
	min-height: 40px;
}
.dpr-modal-cntt input[type=checkbox] {
	margin-bottom: 12px;
	height: 20px;
	margin-right: 2px;
}
.dpr-modal-cntt label {
	vertical-align: top;
	font-size: 12px;
	color: #888;
	cursor: pointer;
	line-height: 21px;
	position: relative;
	width: 100%;
	display: block;
}
.dpr-modal-cntt label .dpr-form-label-tx {
	position: absolute;
	top: 0;
	left: 18px;
	width: 100%;
}
.dpr-modal-footer {
	padding: 20px;
	font-size: 13px;
	color: #666;
	border-top: 1px solid #e4e4e4;
	background: #f6f6f6;
	box-shadow: 0 1px 15px rgba(0,0,0,0.024) inset;
}
.dpr-modal-footer a {
	color: #437df9;
}
.dpr-modal-footer a:hover {
	text-decoration: underline;
}
.dpr-modal-footer .dpr-modal-signup-span {
	float: right;
}
.dpr-modal-wrap .dpr-modal-social {
	text-align: center;
}
.dpr-modal-wrap .dpr-join-form-social-login {
	display: inline-block;
	padding-right: 6%;
}
/* template 2 */
.dpr-template-n2 .dpr-discu-wrap {
	position: relative;
	margin: 25px 0;
	border-top: 1px solid #e6e6e6;
	padding-top: 15px;
}
.dpr-template-n2 .dpr-container > .dpr-discu-wrap:first-of-type {
	border-top: none;
}
.dpr-template-n2 .dpr-discu-wrap .dpr-discu-user {
	position: absolute;
	left: 0;
	z-index: 2;
}
.dpr-template-n2 .dpr-discu-box {
	width: 100%;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding-left: 62px;
}
.dpr-template-n2 .dpr-discu-box:after, .dpr-template-n2 .dpr-discu-box:before {
	display: none;
}
.dpr-template-n2 .dpr-discu-box-footer {
	background: none;
	padding: 0;
}
.dpr-template-n2 .dpr-discu-metadata {
	border: none;
	box-shadow: none;
	background: #f9f9f9;
	margin: 6px 0 5px 15px;
}
.dpr-template-n2 .dpr-discu-like-count, .dpr-template-n2 .dpr-discu-dislike-count, .dpr-template-n2 .dpr-discu-share-count {
	background: none;
	padding-left: 1px;
	padding-top: 0;
}
.dpr-template-n2 .dpr-discu-reply-btn-wrap {
	padding-left: 32px;
}
.dpr-template-n2 .dpr-discu-inreplyto {
	background-color: #f9f9f9;
	border: none;
	border-radius: 50px;
}
/* template 3 */
.dpr-template-n3 .dpr-discu-wrap {
	border: 1px solid #e9e9e9;
	border-radius: 1px;
	padding: 15px 15px 20px;
	box-shadow: 0 1px 3px 0px rgba(0,0,0,0.032);
}
.dpr-template-n3 .dpr-discu-wrap .dpr-discu-user {
	left: 15px;
}
/* template 4 */
.dpr-template-n4 .dpr-discu-wrap, .dpr-template-n4 .dpr-discu-wrap .dpr-discu-box {
	background: #fbfbfb;
}
.dpr-template-n4 .dpr-discu-metadata {
	background: #fff;
	border: 1px solid #eee;
}
.dpr-template-n4 .dpr-discu-inreplyto {
	background-color: #f1f1f1;
	border-radius: 1px;
}
/* topics */
.dpr-sec-side-layout {
	padding: 0 0 20px 40px;
	width: 340px;
	min-height: 1px;
	float: left;
}
.dpr-sec-main-layout {
	width: calc(100% - 340px);
	min-height: 1px;
	float: left;
}

@media only screen and (max-width: 960px) {
.dpr-sec-main-layout, .dpr-sec-side-layout {
	width: 100%;
	float: none;
}
.dpr-sec-side-layout {
	padding: 15px 0;
	background: none;
}
}
.dpr-topic-box, .dpr-widget {
	position: relative;
	background: #fff;
	width: 100%;
	padding: 20px;
	margin-bottom: 25px;
	border: 1px solid #e7e7e7;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.036);
	-webkit-transition: box-shadow .38s ease;
	transition: box-shadow .38s ease;
}
.dpr-topic-box:hover {
	box-shadow: 0 1px 11px 0px rgba(0,0,0,0.09);
}
.dpr-topic-box .dpr-user-img img {
	width: 32px;
	height: 32px;
	margin-right: 3px;
	border-radius: 32px;
}
.dpr-topic-box h3.dpr-topic-title {
	color: #111;
	font-size: 21px;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: -0.2px;
	margin: 10px 0 8px;
	border: none;
}
.dpr-topic-box h3.dpr-topic-title a {
	color: #111;
	text-decoration: none;
	transition: all .25s ease;
}
.dpr-topic-box h3.dpr-topic-title a:hover {
	color: #437df9;
}
.dpr-discu-box-content {
	vertical-align: middle;
}
.dpr-topic-text p {
	font-size: 0.9em;
	font-weight: 400;
	color: #444;
	margin-bottom: 10px;
	line-height: 1.7;
}
.dpr-discu-box-content img {
	width: 150px;
	height: auto;
	margin-right: 15px;
	margin-bottom: 10px; 
	float: left;
	border-radius: 5px;
}
.dpr-topic-metadata-views-wrap {
	position: absolute;
	top: 4px;
	right: 65px;
}
.dpr-topic-tags {
	padding: 4px 0 8px;
}
.dpr-topic-tags i {
	font-size: 14px;
	margin-right: 4px;
}
.dpr-topic-tags a, .dpr-widget-tags-in a {
	display: inline;
	padding: 3px 6px;
	font-size: 12px;
	font-weight: 400;
	line-height: 1;
	color: #777;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	margin: 1px;
	transition: all 0.22s ease;
}
.dpr-topic-tags a:hover, .dpr-widget-tags-in a:hover {
	border-color: #437df9;
	color: #437df9;
}
.dpr-discu-box-header-cat {
	position: absolute;
	top: 0;
	right: 1px;
	max-width: 60%;
}
.dpr-discu-box-header-cat i {
	font-size: 16px;
	color: #888;
}
.dpr-discu-box-header-cat a, .dpr-profile-box-content a.dpr-topic-category {
	padding: 2px 5px;
	font-size: 13px;
	font-weight: 500;
	line-height: 1;
	border: 1px solid;
	border-radius: 2px;
	margin: 1px;
	transition: all 0.22s ease;
}
a.dpr-cat-custom-color {
	color: #8d62ff;
}
.dpr-topic-replies .dpr-discu-replies-count, .dpr-topic-replies .dpr-topic-last-reply-time {
	background: #fff;
	border: 1px solid #eee;
}
.dpr-topic-box .dpr-discu-replies-wrap {
	position: relative;
	min-height: 36px;
    padding-top: 4px;
}
.dpr-discu-activity-wrap {
	position: absolute;
	right: -5px;
	top: 3px;
}
.dpr-discu-activity-wrap a {
	margin-right: 1px;
}
.dpr-discu-activity-wrap img {
	width: 29px;
	height: 29px;
	border-radius: 29px;
	margin: 1px;
	padding: 3px;
	background: #fff;
	box-shadow: 0 0 2px 0px rgba(0,0,0,0.1);
	transition: all 0.25s ease;
}
.dpr-discu-activity-wrap img:hover {
	box-shadow: 0 0 15px 0px rgba(0,0,0,0.15);
}
/* topics view switcher */
.dpr-topic-view-wrap {
	width: 98px;
	height: 29px;
	border: 1px solid #e7e7e7;
	background: #fff;
	border-radius: 2px;
}
.dpr-switch-tab-wrap .dpr-topic-view-wrap a {
	width: 32px;
	height: 27px;
	line-height: 25px;
	float: left;
	display: inline-block;
	padding: 0;
	text-align: center;
}
.dpr-topic-view-wrap a.dpr-topic-view-compact {
	border-right: 1px solid #e7e7e7;
}
.dpr-topic-view-wrap a.dpr-topic-view-detailed {
	border-left: 1px solid #e7e7e7;
}
.dpr-topic-view-wrap a span.dpr-topic-view-i, .dpr-topic-view-wrap a span.dpr-topic-view-i:after, .dpr-topic-view-wrap a span.dpr-topic-view-i:before {
	width: 14px;
	height: 2px;
	background: #ccc;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.dpr-topic-view-wrap a span.dpr-topic-view-i:after, .dpr-topic-view-wrap a span.dpr-topic-view-i:before {
	position: absolute;
	left: 0;
	top: 4px;
	content: "";
}
.dpr-topic-view-wrap a span.dpr-topic-view-i:before {
	top: auto;
	bottom: 4px;
}
.dpr-topic-view-wrap a.dpr-topic-view-compact span.dpr-topic-view-i, .dpr-topic-view-wrap a.dpr-topic-view-compact span.dpr-topic-view-i:after, .dpr-topic-view-wrap a.dpr-topic-view-compact span.dpr-topic-view-i:before {
	height: 1px;
}
.dpr-topic-view-wrap a.dpr-topic-view-detailed span.dpr-topic-view-i, .dpr-topic-view-wrap a.dpr-topic-view-detailed span.dpr-topic-view-i:after, .dpr-topic-view-wrap a.dpr-topic-view-detailed span.dpr-topic-view-i:before {
	height: 3px;
}
.dpr-topic-view-wrap a.dpr-topic-view-selected {
	box-shadow: 0 1px 3px rgba(0,0,0,0.04) inset;
	background: #f3f3f3;
}
.dpr-topic-view-wrap a.dpr-topic-view-selected span.dpr-topic-view-i, .dpr-topic-view-wrap a.dpr-topic-view-selected span.dpr-topic-view-i:after, .dpr-topic-view-wrap a.dpr-topic-view-selected span.dpr-topic-view-i:before {
	background-color: #333;
}
.dpr-topic-box .dpr-discu-box-header {
	margin-bottom: 2px;
}
.dpr-topic-view-boxes-normal .dpr-topic-box .dpr-topic-img-a, .dpr-topic-view-boxes-normal .dpr-topic-box .dpr-topic-text,
.dpr-topic-view-boxes-normal .dpr-topic-box .dpr-discu-metadata, 
.dpr-topic-view-boxes-compact .dpr-topic-box .dpr-topic-img-a, .dpr-topic-view-boxes-compact .dpr-topic-box .dpr-topic-text {
	display: none;
}
.dpr-topic-view-boxes-normal .dpr-topic-box {
	margin-bottom: 20px;
}
.dpr-topic-view-boxes-compact .dpr-topic-box .dpr-topic-tags, .dpr-topic-view-boxes-compact .dpr-topic-box .dpr-discu-box-footer {
	display: none;
}
.dpr-topic-view-boxes-compact .dpr-topic-box .dpr-user-img img {
	width: 26px;
	height: 26px;
}
.dpr-topic-view-boxes-compact .dpr-topic-box .dpr-discu-box-header {
	margin-bottom: 2px;
	margin-top: -4px;
}
.dpr-topic-view-boxes-compact .dpr-topic-box h3.dpr-topic-title {
	margin-bottom: 2px;
	margin-top: 5px;
}
.dpr-topic-view-boxes-compact .dpr-topic-box {
	margin-bottom: 15px;
}
/* widgets */
.dpr-widget {
	border-radius: 2px;
	margin-bottom: 20px;
	padding-bottom: 15px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.026);
}
.dpr-widget:hover {
	box-shadow: 0 2px 16px rgba(0,0,0,0.054);
}
.dpr-widget-title-wrap {
	margin: -20px -20px 15px;
	padding: 13px 20px;
	background: #f8f8f8;
	height: 42px;
}
.dpr-widget-title-wrap h4.dpr-widget-title {
	color: #222;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	line-height: 1;
}
.dpr-widget-start .dpr-widget-title-wrap {
	padding: 8px 20px;
	margin-bottom: 12px;
}
.dpr-widget-start .dpr-widget-title-wrap span {
	font-size: 12px;
}
.dpr-widget-start .dpr-widget-title-wrap span i {
	font-size: 14px;
    vertical-align: text-bottom;
    margin-right: 1px;
}
.dpr-widget-start .dpr-widget-start-time {
	float: right;
}
.dpr-widget-start .dpr-join-form-login-register {
	padding: 2px 0 12px;
}
.dpr-widget-start .dpr-join-form-login-register a {
	font-size: 12px;
	margin-right: 2px;
	margin-bottom: 5px;
	padding-left: 9px;
}
.dpr-widget-start .dpr-join-form-login-register a:last-child {
	float: right;
}
.dpr-widget-start .dpr-join-form-login-register a:first-child {
	float: none;
}
.dpr-widget-search-wrap {
	position: relative;
	padding: 14px 0 12px;
	margin-bottom: 8px;
}
.dpr-widget-search-wrap i {
	top: 50%;
	margin-top: -6px;
}
.dpr-widget ul {
	list-style: none;
	margin: 0;
	font-size: 13px;
}
.dpr-widget-categories ul li, .dpr-widget-stats ul li {
	font-size: 13px;
	line-height: 24px;
	height: 24px;
	margin: 0 0 10px;
	position: relative;
	overflow: hidden;
}
.dpr-widget-categories ul li a {
	padding: 2px 5px;
	background: #fff;
    font-weight: 500;
    line-height: 1;
    border: 1px solid;
    border-radius: 2px;
    box-shadow: 0 0 15px #fff;
    transition: all 0.23s ease;
}
.dpr-widget-categories ul li a:hover {
	box-shadow: 0 2px 1px rgba(0,0,0,.1);
}
.dpr-widget-categories ul li span, .dpr-widget-stats span.dpr-widget-stat-count {
	padding: 3px 5px;
	background: #f5f5f5;
	color: #666;
	border-radius: 3px;
	font-size: 11px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	position: absolute;
	right: 0;
	top: 3px;
	z-index: 3;
}
.dpr-widget-categories ul li:after, .dpr-widget-stats ul li:after {
	position: absolute;
	width: 100%;
	top: 50%;
	left: auto;
	display: inline-block;
	content: "";
	margin-top: -1px;
	border-bottom: 1px solid #f3f3f3;
	z-index: 2;
}
.dpr-widget-stats span.dpr-widget-stat-s {
	font-size: 0.96em;
	color: #666;
	padding-right: 3px;
	background: #fff;
}
.dpr-widget-stats span.dpr-widget-stat-s i {
	font-size: 13px;
	margin-right: 2px;
	margin-left: 1px;
	color: #bbb;
}
.dpr-widget .dpr-discu-date {
	font-size: 0.8em;
}
.dpr-widget-topics ul li, .dpr-widget-comments ul li {
	line-height: 24px;
	margin: 0 0 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #eee;	
}
.dpr-widget-topics ul li:last-child, .dpr-widget-comments ul li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
.dpr-widget-topics h6.dpr-topic-title {
	font-size: 13px;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 3px;
}
.dpr-widget-topics h6.dpr-topic-title a {
	color: #444;
}
.dpr-widget-topics h6.dpr-topic-title a:hover {
	color: #437df9;
}
.dpr-widget-topics i {
	font-size: 11px;
    color: #848484;
}
.dpr-widget-topics .dpr-discu-replies-count, .dpr-widget-topics .dpr-topic-last-reply-time {
	font-size: 10px;
}
.dpr-widget-comments p {
	font-size: 0.92em;
	line-height: 1.78;
	color: #848484;
	margin-bottom: 0;
}
.dpr-widget-comments p a {
	color: #666;
}
.dpr-widget-comments p a:hover {
	text-decoration: underline;
	color: #666;
}
.dpr-widget-tags-in {
	overflow: hidden;
	clear: both;
}
.dpr-widget-tags-in a {
	font-size: 12px;
	display: inline-block;
	float: left;
	margin: 2px;
}
.dpr-widget-tags-in a span {
	display: inline-block;	
	background: #f2f2f2;
	color: #999;
	font-size: 10px;
	margin-left: 3px;
	margin-right: -2px;
	padding: 3px 4px;
	border-radius: 3px;
}
.dpr-widget-active-users-in ul li {
	position: relative;
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding: 0 0 10px;
}
.dpr-widget-active-users-in ul li:last-child {
	border: none;
	margin-bottom: 1px;
}
.dpr-widget-active-users-in img {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	position: absolute;
	left: 0;
	top: 0;
}
.dpr-widget-active-users-in .dpr-discu-user-name {
	line-height: 18px;
	font-size: 13px;
	font-weight: 500;
	position: absolute;
	left: 50px;
	top: 0;
}
.dpr-widget-active-users-in .dpr-discu-user-topics, .dpr-widget-active-users-in .dpr-discu-user-replies, .dpr-widget-active-users-in .dpr-discu-user-likes {
	position: absolute;
	left: 50px;
	top: auto;
	bottom: 9px;
}
.dpr-widget-active-users-in .dpr-discu-user-replies {
	left: 90px;
}
.dpr-widget-active-users-in .dpr-discu-user-likes {
	left: 130px;
}
.dpr-widget-active-users-in ul li i {
	font-size: 11px;
	color: #888;
}
.dpr-widget-active-users-in .dpr-discu-topics-count, .dpr-widget-active-users-in .dpr-discu-replies-count, .dpr-widget-active-users-in .dpr-discu-likes-count {
	background: #f2f2f2;
	color: #888;
	font-size: 10px;
	padding: 1px 3px;
	border-radius: 5px;
	cursor: default;
}
/* profile */
.dpr-profile-box, .dpr-forum-box {
	position: relative;
	background: #fff;
	width: 100%;
	padding: 10px;
	margin-bottom: 30px;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.03);
	-webkit-transition: box-shadow .36s ease;
	transition: box-shadow .36s ease;
}
.dpr-profile-box:hover {
	box-shadow: 0 1px 8px 0px rgba(0,0,0,0.075);
}
.dpr-profile-box1-left, .dpr-profile-box1-right {
	float: left;
	padding: 10px;
}
.dpr-profile-box1-left {
	width: 110px;
}
.dpr-profile-box1-right {
	width: calc(100% - 110px);
}
.dpr-profile-box1-socials {
	position: absolute;
	right: 20px;
	top: 20px;
}
.dpr-profile-box1-socials a i {
	font-size: 15px;
	margin: 0 4px;
	color: #9a9a9a;
	transition: all .26s ease;
}
.dpr-profile-box1-socials a:hover i {
	color: #437df9;
}
.dpr-profile-box .dpr-user-img {
	position: relative;
	display: inline-block;
	margin-bottom: 8px;
}
.dpr-profile-box .dpr-user-img img {
	border-radius: 50%;
	width: 100%;
	height: auto; 
}
.dpr-user-role-box {
    position: absolute;
    bottom: -8px;
    left: 50%;
    background: #437df9;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 2px 7px;
    line-height: 16px;
    border-radius: 11px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.dpr-profile-box1-infl {
	margin-top: 10px;
	text-align: center;
	margin-bottom: 5px;
}
.dpr-influence-level-a {
	display: inline-block;
	padding: 5px;
	border: 1px solid #e8e8e8;
	border-radius: 20px;
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	color: #777;
	vertical-align: middle;
	transition: all .26s ease;
}
.dpr-influence-level-a span {
	display: inline-block;
	float: right;
	text-align: center;
	width: 16px;
	height: 16px;
	line-height: 16px;
	padding: 0;
	background: #f2f2f2;
	border-radius: 16px;
	font-size: 10px;
	font-weight: 500;
	color: #888;
	margin-left: 8px;
	transition: all .24s ease;
}
.dpr-influence-level-a:hover {
	color: #437df9;
	border-color: #437df9;
}
.dpr-influence-level-a:hover span {
	color: #fff;
	background-color: #437df9;
}
.dpr-profile-box .dpr-profile-name {
	font-size: 20px;
	font-weight: 600;
	color: #222;
	line-height: 1.2;
	margin-bottom: 5px;
}
.dpr-profile-box .dpr-profile-location {
	font-size: 14px;
	font-weight: 400;
	color: #8a8a8a;
	line-height: 1.3;
	margin-bottom: 5px;
}
.dpr-profile-box .dpr-profile-location i {
	font-size: 16px;
	color: #437df9;
}
.dpr-profile-box .dpr-profile-description {
    font-size: 0.84em;
    font-weight: 400;
    color: #606060;
    line-height: 1.68;
    margin-bottom: 15px;    
}
.dpr-profile-box .dpr-profile-box-footer, .dpr-profile-box .dpr-profile-box-header {
	background: #fafafa;
	border-top: 1px solid #ececec;
	margin: 0 -10px -10px;
	padding: 10px 20px 0;
	min-height: 46px;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 2px 1px 0px rgba(0,0,0,0.023) inset;
}
.dpr-profile-box .dpr-profile-box-header, .dpr-forum-box .dpr-forum-box-header {
	margin: -10px -10px 0;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 2px 2px 0 0;
	border-top: none;
	border-bottom: 1px solid #e9e9e9;
	box-shadow: 0 1px 2px 0px rgba(0,0,0,0.027);
}
.dpr-profile-box-header-title, .dpr-forum-box-header-title {
	color: #333;
	font-size: 16px;
}
.dpr-profile-box-header-title a, .dpr-forum-box-header-title a {
	color: #333;
	text-decoration: none;
}
.dpr-profile-box-header-title a:hover, .dpr-forum-box-header-title a:hover {
	color: #437df9;
	text-decoration: underline;
}
.dpr-profile-box-header-title i, .dpr-forum-box-header-title i {
	font-size: 15px;
	color: #aaa;
	margin-right: 7px;
	vertical-align: baseline;
}
.dpr-profile-box-header-count, .dpr-forum-box-header-count {
	background: #fff;
	padding: 3px 5px;
	border-radius: 5px;
	color: #888;
	font-size: 11px;
	margin-left: 2px;
	border: 1px solid #eaeaea;
	cursor: default;
}
.dpr-profile-metadata {
	font-size: 12px;
	color: #666;
	height: 16px;
	line-height: 16px;
	margin-right: 13px;
	margin-bottom: 13px;
    display: inline-block;
}
.dpr-profile-metadata i {
	font-size: 13px;
	color: #b4b4b4;
	margin-right: 4px;
}
.dpr-profile-metadata-count {
	background: #fff;
	padding: 2px 6px;
	border-radius: 16px;
	color: #888;
	font-size: 10px;
	margin-left: 2px;
}
.dpr-profile-badges-wrap {
	width: 100%;
	overflow: hidden;
	padding: 20px 10px 10px;
}
.dpr-profile-badge-box {
	min-width: 190px;
	height: 62px;
	float: left;
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	overflow: hidden;
	margin: 0 10px 10px 0;
	box-shadow: 0 2px 1px 0px rgba(0,0,0,0.023);
}
.dpr-profile-badge-icon {
	width: 60px;
	height: 60px;
	padding: 6px;
	float: left;
	background: #fff;
}
.dpr-profile-badge-icon img {
	width: 100%;
	height: auto;
}
.dpr-profile-badge-icon i {
	font-size: 48px;
}
.dpr-profile-badge-text {
	width: calc(100% - 60px);
	float: left;
	height: 60px;
	padding: 10px;
	font-size: 13px;
	line-height: 1.2;
	display: flex;
    align-items: center;
	color: #5a5a5a;
	background: #fafafa;
	border-left: 1px solid #eee;
	box-shadow: 2px 0 1px 0px rgba(0,0,0,0.025) inset;
}
@media only screen and (min-width: 960px) {
.dpr-profile-box-half {
	width: calc(50% - 15px);
	float: left;
	margin-right: 15px;
	display: inline-block;
	clear: left;
}
.dpr-profile-wrap .dpr-profile-box-half:nth-child(even) {
	margin-right: 0;
	margin-left: 15px;
	clear: right;
}
}
.dpr-profile-box-content {
	padding: 20px 10px 10px;
}
.dpr-profile-box-content-list li {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.dpr-profile-box-content-list li:last-child {
	border-bottom: none;
	margin-bottom: 1px;
}
.dpr-profile-box-content li h3 {
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 5px;
}
.dpr-profile-box-content li h3 a {
	color: #222;
}
.dpr-profile-box-content li h3 a:hover, .dpr-profile-box-content-blogposts a.dpr-blog-category:hover {
	text-decoration: underline;
}
.dpr-profile-box-content-blogposts a.dpr-blog-category {
	font-size: 13px;
	color: #437df9;
	font-weight: 500;
}
.dpr-profile-box-content .dpr-discu-box {
	width: 100%;
	float: none;
	padding: 6px 12px;
	margin-bottom: 13px;
	margin-top: 7px;
}
.dpr-profile-box-content .dpr-discu-box:before, .dpr-profile-box-content .dpr-discu-box:after {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: 23px;
    margin-top: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px;
}
.dpr-profile-box-content .dpr-discu-box:before {
	border-color: transparent transparent #dedede transparent;
}
.dpr-profile-box-content .dpr-discu-box:after {
	top: -6px;
	border-color: transparent transparent #ffffff transparent;
}
.dpr-profile-box-content .dpr-discu-inreplyto {
	margin-bottom: 10px;
}
.dpr-profile-box-content-replies li h3 {
	padding-left: 6px;
}
.dpr-profile-box-content-replies .dpr-profile-box-content-list li {
	border:none;
	padding-bottom: 0;
}
.dpr-profile-box-content .dpr-discu-text p {
    font-size: 0.86em;
    color: #606060;
}
.dpr-loadmore-wrap {
	text-align: center;
	padding: 13px 0 10px;
}
.dpr-loadmore-wrap a.dpr-loadmore-btn {
	padding: 7px 20px;
	border: 1px solid #e6e6e6;
	border-radius: 33px;
	background: #fff;
	color: #888;
	font-size: 12px;
	line-height: 1;
	transition: all .19s ease;
	box-shadow: 0 1px 17px rgba(0,0,0,0.036);
}
.dpr-loadmore-wrap a.dpr-loadmore-btn:hover {
	color: #437df9;
	border-color: #437df9;
}
.dpr-loadmore-wrap a.dpr-loadmore-btn i {
	font-size: 11px;
	margin-right: 5px;
}
.dpr-profile-box-content-likes .dpr-profile-box-content-list li {
	position: relative;
	padding-left: 30px;
}
.dpr-profile-box-content .dpr-profile-box-likebox, .dpr-profile-box-content .dpr-profile-box-linkbox {
	position: absolute;
	left: -5px;
	top: 0;
	width: 30px;
	height: 30px;
	display: block;
	line-height: 30px;
	border-radius: 30px;
	border: 1px solid #ddd;
	text-align: center;
}
.dpr-profile-box-likebox i, .dpr-profile-box-linkbox {
	font-size: 16px;
	color: #437df9;
}
.dpr-profile-box-content-mcusers .dpr-user-img img {
	width: 50px;
	margin-right: 4px;
}
.dpr-profile-box-content-mcusers .dpr-discu-user-name {
	margin-right: 10px;
}
.dpr-profile-box-content-mcusers li i {
	font-size: 13px;
	color: #888;
}
.dpr-profile-box-content-mcusers .dpr-discu-user-replies, .dpr-profile-box-content-mcusers .dpr-discu-user-likes, .dpr-profile-box-content-mcusers .dpr-discu-user-dislikes {
	margin-right: 4px;
}
.dpr-profile-box-content-mcusers .dpr-discu-replies-count, .dpr-profile-box-content-mcusers .dpr-discu-likes-count, .dpr-profile-box-content-mcusers .dpr-discu-dislikes-count {
	padding: 2px 5px;
    background: #f3f3f3;
    color: #808080;
    font-size: 11px;
    border-radius: 6px;
    margin: 0 3px 0 0;
}
.dpr-profile-box-content-links .dpr-profile-box-content-list li {
	position: relative;
	padding: 5px 0 15px 35px;
}
.dpr-profile-box-content a.dpr-profile-link-url {
	font-size: 10px;
	line-height: 11px;
}
.dpr-profile-box-content a.dpr-profile-link-title {
	font-size: 15px;
	font-weight: 500;
	color: #333;
	display: block;
	line-height: 1;
}
.dpr-profile-box-content-links .dpr-discu-date {
	display: block;
	padding: 0;
	margin: 4px 0 0;
	line-height: 1;
}
.dpr-profile-box-content-links .dpr-profile-box-link-count{
	position: absolute;
	top: 36px;
	left: 2px;
	background: #f3f3f3;
    color: #808080;
	display: inline-block;
	border-radius: 33px;
	padding: 0 3px;
	font-size: 10px;
	line-height: 16px;
	min-width: 16px;
	text-align: center;
}
/* forums */
.dpr-forum-box {
	clear: both;
	background: #fafafa;
}
.dpr-forum-box .dpr-forum-box-header {
	line-height: 27px;
	background: #fff;
}
.dpr-forum-box-header-title a {
	font-weight: 500;
}
.dpr-forum-box-header .dpr-discu-collapse {
	float: right;
	color: #aaa;
	font-size: 14px;
	margin-top: 3px;
}
.dpr-forum-box-inner {
	padding: 10px;
	overflow: hidden;
}
.dpr-forum-box-cat-wrap {
	padding: 15px 0;
	border-bottom: 1px solid #e6e6e6;
}
.dpr-forum-box-inner .dpr-forum-box-cat-wrap:last-child {
	border-bottom: none;
	padding-bottom: 10px;
}
.dpr-forum-box-cat-wrap:after {
	display: table;
	content: '';
	clear: both;
}
@media only screen and (min-width: 960px){
.dpr-forum-box-inner-half {
    width: 50%;
    min-height: 1px;
    float: left;
    display: inline-block;
    clear: left;
}
.dpr-forum-box-cat-wrap .dpr-forum-box-inner-half:nth-child(even) {
    clear: right;
}
}
.dpr-forum-box-cat-icon i, .dpr-forum-box-cat-icon img, .dpr-forum-box-cat-icon svg {
    float: left;
    margin-top: 2px;
    margin-right: 10px;
    font-size: 24px;
    color: #9c9c9c;
    background: #fff;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 12px 0px rgba(0,0,0,0.075);
}
.dpr-forum-box-cat-icon img, .dpr-forum-box-cat-icon svg {
	width: 40px;
	height: 40px;
}
.dpr-forum-box-inner .dpr-forum-box-cat-title {
	font-size: 15px;
	font-weight: 500;
}
.dpr-forum-box-inner .dpr-forum-box-cat-title a:hover, .dpr-forum-box-lasttopic h6.dpr-topic-title a:hover {
	text-decoration: underline;
}
.dpr-forum-box-cat-title i {
	font-size: 11px;
    color: #888;
    margin-left: 11px;
}
.dpr-topic-category-count {
	background: #fff;
	padding: 2px 4px;
	border-radius: 5px;
	color: #888;
	font-size: 10px;
	margin-left: 2px;
	cursor: default;
}
.dpr-forum-box-inner p.dpr-forum-box-cat-desc {
	font-size: 12px;
	color: #8a8a8a;
	line-height: 1.72;
	overflow: hidden;
	margin-bottom: 8px;
}
.dpr-forum-box-lasttopic {
	font-size: 13px;
	padding-left: 50px;
	padding-top: 10px;
    padding-bottom: 10px;
}
.dpr-forum-box-lasttopic h6.dpr-topic-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 0;
}
.dpr-forum-box-lasttopic h6.dpr-topic-title a {
    color: #555;
}
.dpr-forum-box-lasttopic .dpr-user-img img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-top: 4px;
    border: 3px solid #fff;
    border-radius: 40px;
    float: left;
}
/* single topic page */
.dpr-single-topic-wrap {
	min-height: 90px;
	margin-bottom: 20px;
	clear: both;
}
.dpr-topic-author-box .dpr-author-img {
	position: relative;
	display: inline-block;
	margin-bottom: 8px;
	margin-right: 15px;
	width: 50px;
	float: left;
}
.dpr-topic-author-box .dpr-author-img img {
	border-radius: 50%;
	width: 100%;
	height: auto; 
}
.dpr-topic-author-box .dpr-author-name {
	font-size: 0.87em;
	font-weight: 500;
	color: #222;
	padding-top: 6px;
	margin-bottom: 5px;
	line-height: 1;
}
.dpr-topic-author-box .dpr-author-name a {
	color: #437df9;
}
.dpr-topic-author-box .dpr-author-name a:hover {
	text-decoration: underline;
}
.dpr-topic-author-box .dpr-author-tpoic-date {
	font-size: 0.76em;
	color: #8a8a8a;
}
.dpr-topic-title h1 {
	font-size: 28px;
	color: #222;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: -0.4px;
	text-transform: none;
	padding: 30px 0;
	margin: 0;
}
.dpr-topic-image img {
	width: 100%;
	height: auto;
	margin: 10px 0 30px;
}
.dpr-topic-single-content {
	font-size: 16px;
	color: #333;
	padding-bottom: 30px;
}
.dpr-topic-single-content p {
	font-size: .9em;
	margin-bottom: 20px;
	line-height: 1.68;
	color: #414141;
}
.dpr-topic-single-content h1, .dpr-topic-single-content h2, .dpr-topic-single-content h3, .dpr-topic-single-content h4, .dpr-topic-single-content h5, .dpr-topic-single-content h6 {
	margin-bottom: 10px;
	line-height: 1.2;
	color: #222;
}
.dpr-topic-single-content h1 {
	font-size: 3em;
}
.dpr-topic-single-content h2 {
	font-size: 2.25em;
}
.dpr-topic-single-content h3 {
	font-size: 1.75em;
}
.dpr-topic-single-content h4 {
	font-size: 1.125em;
}
.dpr-topic-single-content h5 {
	font-size: 1em;
}
.dpr-topic-single-content h6 {
	font-size: 0.95em;
}
.dpr-topic-single-metadata {
	background: #fafafa;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	margin-bottom: 90px;
	padding: 10px 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.026);
}
.dpr-topic-single-metadata .dpr-discu-replies-wrap {
	position: relative;
	padding-top: 5px;
}
.dpr-topic-single-metadata i {
	font-size: 14px;
	color: #777;
}
.dpr-topic-single-metadata .dpr-topic-tags {
	padding-bottom: 20px;
}
.dpr-topic-single-metadata .dpr-topic-tags a {
	background: #fff;
}
/** preloader **/
.dpr-preloader-wrap {
	display: none;
	z-index: 999999999999999;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(255,255,255,0.78);
}
.dpr-preloader {
	width: 56px;
	height: 56px;
	border: 8px solid transparent;
	border-top-color: #0052ec;
	border-bottom-color: #0052ec;
	border-radius: 50%;
	position: fixed;
	animation: loader-rotate 1s linear infinite;
	top: 40%;
	left: 50%;
	margin: 0 28px 0 0; 
}
.dpr-preloadmore-wrap {
	display: none;
	z-index: 999999999999999;
	background: rgba(255,255,255,0.78);
}
.dpr-preloadmore {
	width: 56px;
	height: 56px;
	border: 8px solid transparent;
	border-top-color: #0052ec;
	border-bottom-color: #0052ec;
	border-radius: 50%;
	position: fixed;
	animation: loader-rotate 1s linear infinite;
	bottom: 10%;
	left: 50%;
	margin: 0 28px 0 0; 
}

@keyframes loader-rotate {
0% {
	transform: rotate(0); 
}
100% {
	transform: rotate(360deg); } 
}
/* fixes */
.dpr-discu-text .mce-tinymce.mce-panel {
    border: 1px solid #e6e6e6 !important;
    width: 98% !important;
    margin-bottom: 3px;
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.027);
}
.dpr-wrap button, .mce-btn button {
	letter-spacing: normal;
}
.dpr-wrap button:hover, .mce-btn button:hover {
	background: initial;
	box-shadow: none;
}
.dpr_cancle_comment, .dpr_edit_comment, .dpr_add_reply_comment, .dpr_cancle_reply_comment {
	font-size: 11px;
	font-weight: 500;
}

#dpr-submit-captcha {
    margin: 0 auto 20px;
    display: inline-block;
}

.dpr-replies-captcha {
    margin-top: 10px;
}

[data-dprletters] {
	position: relative;
}

[data-dprletters]:before {
	content:"";
	display:inline-block;
	width:50px;
	height:50px;
	border-radius:50px;
	vertical-align:middle;
	margin-right:12px;
	border: 25px solid;
}

[data-dprletters]:after {
	content:attr(data-dprletters);
	display:inline-block;
	position: absolute;
	left: 0;
	top: 0;
	font-size:21px;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	border-radius:50%;
	vertical-align:middle;
	color: #fff;
	font-weight: 100;
}

/* responsive */
@media only screen and (max-width: 959px) {
.dpr-switch-search-wrap {
	width: 50%;
}
.dpr-switch-tab-wrap {
	padding-left: 10px;
}
.dpr-switch-tab-wrap select.dpr-switch-dropdown {
	display: inline-block;
}
.dpr-switch-tab-wrap ul.dpr-switch-tab {
	display: none;
}
}
@media only screen and (max-width: 767px) {
.dpr-discu-wrap .dpr-discu-user {
	float: none;
}
.dpr-discu-box {
	width: 100%;
	float: none;
	margin-top: 8px;
}
.dpr-discu-box:before {
	margin-left: 0;
	left: 15px;
	top: -14px;
	border-color: transparent transparent #dedede transparent;
}
.dpr-discu-box:after {
	margin-left: 0;
	left: 15px;
	top: -13px;
	border-color: transparent transparent #ffffff transparent;
}
.dpr-discu-date {
	display: block;
	padding-left: 0;
}
.dpr-discu-box-header .dpr-discu-box-header-icons {
	opacity: 1;
}
.dpr-discu-timeline-toggle i {
	display: none;
}
.dpr-discu-timeline-toggle {
	padding-top: 10px;
	height: 50px;
}
.dpr-template-n2 .dpr-discu-box, .dpr-template-n2 .dpr-discu-box .dpr-discu-box {
	padding: 0;
	margin: 40px 0 0;
}
.dpr-template-n2 .dpr-discu-wrap .dpr-discu-user img {
	width: 36px;
	height: 36px;
}
.dpr-template-n2 .dpr-discu-box-footer {
	margin-left: 0;
	margin-right: 0;
}
.dpr-template-n2 .dpr-discu-metadata {
	margin-left: 0;
}
.dpr-template-n2 .dpr-discu-reply-btn-wrap {
	padding-left: 10px;
}
.dpr-template-n2 .dpr-discu-box-header .dpr-discu-box-header-icons {
	right: 15px;
	top: -30px;
}
.dpr-template-n3 .dpr-discu-wrap {
	padding-bottom: 30px;
	padding-top: 10px;
}
.dpr-discu-inreplyto {
	line-height: 1;
}
.dpr-template-n2 .dpr-discu-inreplyto {
	border-radius: 5px;
}
.dpr-discu-box-content img {
	width: 100px;
}
.dpr-topic-single-content, .dpr-discu-box {
	font-size: 15px;
}
}

@media only screen and (max-width: 479px) {
.dpr-discu-user-name {
	font-size: 0.84em;
}
.dpr-discu-box-footer {
	padding: 5px 10px;
}
.dpr-discu-metadata {
	margin: -5px -10px 6px;
	padding: 4px 10px;
}
.dpr-discu-metadata-share-wrap {
	right: 1px;
}
.dpr-discu-box-header .dpr-discu-box-header-icons {
	right: -10px;
}
.dpr-switch-tab a {
	padding: 5px 6px;
	font-size: 11px;
}
.dpr-join-form-inner .dpr-join-form-social-login, .dpr-user-nas {
	position: static;
	margin-top: 12px;
}
.dpr-topic-box h3.dpr-topic-title {
	font-size: 16px;
}
.dpr-discu-box-header-cat {
	position: static;
	max-width: 100%;
}
.dpr-profile-box1-left {
	width: 90px;
	padding: 0;
}
.dpr-profile-box1-right {
	width: 100%;
	padding: 10px 0;
}
.dpr-profile-box1-socials, .dpr-profile-box .dpr-profile-name, .dpr-profile-box .dpr-profile-location {
	position: absolute;
	right: auto;
	top: 13px;
	left: 110px;
}
.dpr-profile-box .dpr-profile-name {
	top: 45px;
	font-size: 17px;
}
.dpr-profile-box .dpr-profile-location {
	top: 70px;
	font-size: 13px;
}
.dpr-discu-replies-wrap {
	padding-bottom: 40px;
}
.dpr-discu-activity-wrap {
	top: 40px;
}
}

@media only screen and (max-width: 320px) {
.dpr-switch-tab-wrap a {
	padding: 5px;
	font-size: 10px;
}
.dpr-discu-box-content img {
	width: 100%;
}
.dpr-topic-box h3.dpr-topic-title {
	font-size: 18px;
}
.dpr-widget-categories ul li a {
	font-size: 12px;
}
.dpr-profile-box1-left {
	width: 70px;
}
.dpr-profile-box1-socials, .dpr-profile-box .dpr-profile-name, .dpr-profile-box .dpr-profile-location {
	left: 90px;
}
.dpr-profile-box .dpr-profile-name {
	font-size: 13px;
}
.dpr-profile-box .dpr-profile-location {
	font-size: 11px;
	top: 65px;
}
.dpr-profile-box1-socials a i {
	margin:0 3px;
	font-size: 14px;
}
.dpr-profile-box .dpr-profile-description {
    font-size: 0.76em;
}
.dpr-user-role-box {
	font-size: 9px;
}
}